<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bxz.mapper.CoinsMapper">
    <resultMap id="BaseResultMap" type="Coins">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="coins" column="coins"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

    </resultMap>

    <sql id="table">
        coins
    </sql>

    <sql id="columns">
        id,user_id,coins,create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT <include refid="columns" />
        FROM <include refid="table" />
        WHERE id = #{id}
    </select>
    
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">

        SELECT <include refid="columns" />
        FROM <include refid="table" />
        WHERE user_id = #{userId}
    </select>


    <update id="updateSelectiveByPrimaryKey" parameterType="Coins">

        UPDATE <include refid="table" />
        <set>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="coins != null">
                coins=#{coins},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insertSelective" parameterType="Coins" >
        INSERT INTO <include refid="table" />
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null">
                user_id,
            </if>
            <if test="coins != null">
                coins,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null">
               #{userId},
            </if>
            <if test="coins != null">
               #{coins},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateCoins" >
        UPDATE <include refid="table" />
        SET coins = coins + #{coins}
        WHERE user_id = #{userId}
        AND coins &gt;  #{coins}
    </update>

</mapper>
